<div class="barrior nopadding site-disclaimer">
    <a class="footer-link" href="/imprint">Impressum/Legal Disclosure</a>
    <small>All product names and logos are trademarks of their respective owners; their use here does not imply endorsement or affiliation.</small>
</div>
