    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="stylesheet" href="/css/site.css">
    <style id="theme-vars"><%- (typeof themeCss !== 'undefined' && themeCss) ? themeCss : '' %></style>
    <title><%= typeof title !== 'undefined' ? title : 'Document' %></title>
