<% var variant = (typeof navVariant !== 'undefined') ? navVariant : 'main'; %>
    <nav>
        <div id="name" style="display:flex; gap:200px" class="headerbox">
            <h1 class="sitetitle"><a href="/"><%= settings.site_title %></a></h1>
            <h1 class="jobtitle"><%= settings.job_title %></h1>
        </div>
<% if (variant === 'gallery') { %>
        <ul style="font-size:2cap;max-width: max-content;" class="headerbox nopadding">
            <li><a href="/" rel="noopener noreferrer">go back to main site</a></li>
        </ul>
<% } else { %>
        <ul style="font-size:2cap" class="headerbox nopadding">
            <li><a href="#demo">Demo</a></li>
            <li><a href="#skills">My Skills</a></li>
            <li><a href="#about">About Me</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/gallery" rel="noopener noreferrer">Gallery</a></li>
        </ul>
<% } %>
    </nav>
